
.box{
  display: flex;
  
  justify-content: space-between;
  align-items: baseline;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 50px;
  border: 5px solid rgb(78, 90, 78);
 

}
.left{
  max-width:400px;
}
  
.right{
  max-width: 400px;
 
}
.cv-container{
  margin-top: 100px;
}


