@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Source+Serif+Pro&display=swap');

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
          font-family: 'Nunito', sans-serif;
}
